$side-bar-background-color: #222230;
$side-menu-background-color: #272736;
$side-bar-title-left: #f6c358;
$side-bar-title-right: #ffffff;
$border: 1px dashed rgb(67, 180, 22);
$font: 'Montserrat', sans-serif;
$top-bar-background-color: #e9ecf1;
$top-bar-title-color: #242430;
$top-bar-sub-title-color: #a7a7b0;
$top-bar-user-color: #656578;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
    font-size: 14px;
    font-weight: bold;
}

.container {
    display: flex;
}

.side-bar {
    width: 240px;
    display: none;
    background-color: $side-bar-background-color;

    header {
        font-size: 18px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        color: $side-bar-title-right;

        .yellow {
            color: $side-bar-title-left;
        }
    }

    ul {
        list-style: none;
    }

    .tab {
        height: 70px;
    }
    .menu-item {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: #7b7b95;
        background-color: $side-menu-background-color;
        padding-left: 55px;
        line-height: 70px;
    }

    .menu-item:hover {
        color: #ffffff;
        background-color: $side-bar-background-color;
    }
}

.main {
    height: 100vh;
    border: $border;

    .top-bar {
        display: flex;
        height: 100px;
        background-color: $top-bar-background-color;   
        
        h1 {
            font-size: 22px;
            color: $top-bar-title-color;
        }

        p {
            color: $top-bar-sub-title-color;
        }
    }

    .menu {
        ul {
            list-style: none;
        }

        li {
            text-decoration: none;
            display: inline;
        }
    }

    table {
        border-collapse: collapse;
    }

    th {
        border: $border;
        padding: 15px 50px;
    }

    td {
        border: $border;
        padding: 30px 25px;
    }
}