* {
  margin: 0;
  padding: 0; }

body {
  background: #d5d5df; }

.container {
  display: flex; }

.side-bar {
  width: 240px;
  border: 1px dashed #43b416;
  display: none; }
  .side-bar header {
    height: 100px;
    border: 1px dashed #43b416; }
  .side-bar ul {
    list-style: none; }
  .side-bar .menu-item {
    display: block;
    height: 70px;
    text-decoration: none;
    border: 1px dashed #43b416; }

.main {
  height: 100vh;
  border: 1px dashed #43b416; }
  .main .top-bar {
    height: 100px;
    border: 1px dashed #43b416; }
  .main .menu ul {
    list-style: none; }
  .main .menu li {
    text-decoration: none;
    display: inline; }
  .main table {
    border-collapse: collapse; }
  .main th {
    border: 1px dashed #43b416;
    padding: 15px 50px; }
  .main td {
    border: 1px dashed #43b416;
    padding: 30px 25px; }
