body {
  margin: 0;
  padding: 0;
  background: #d5d5df; }

.container {
  display: flex; }

.side-bar {
  width: 240px;
  border: 4px dashed #43b416;
  display: none; }

.main {
  height: 100vh;
  border: 4px dashed #43b416; }

.top-bar {
  height: 100px;
  border: 4px dashed #43b416; }
